name: html_template tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Run all tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        dart: ['stable']
    runs-on: ${{matrix.os}}
    steps:
      - uses: cedx/setup-dart@v2
        with:
          release-channel: ${{matrix.dart}}
      - uses: actions/checkout@v2
      - run: dart --version
      - run: dart pub get
      - run: dart test
      - run: |
          dart pub get
          dart pub run build_runner build --delete-conflicting-outputs
          dart test
        working-directory: example
